@using vehicle;
@{
    ViewData["Title"] = "vehicle Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @{
        Vehicle list=ViewBag.find;
            <div>
                <h1>@list.id</h1><br>
                <h4>@list.name</h4><br>
                <h5>@list.company</h5><br>
                <h5>@list.price</h5><br>
                <h5>@list.engine</h5><br>
            </div>
    }
</div>